{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel = "stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}"> 
<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="table-dark">
            <th>번호</th>
            <th>제목</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        {% if diary_list %}
        {% for diary in diary_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                <a href="{% url 'diary:detail' diary.id %}">{{ diary.title }}</a>
            </td>
            <td>{{ diary.date }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">아직 작성한 일기가 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <a href="{% url 'diary:diary_write' %}" class="btn btn-primary">일기 쓰기</a>
</div>



<!--{% if diary_list %}
    <ul>
    {% for diary in diary_list %}
        <li><a href="{% url 'diary:detail' diary.id %}">{{ diary.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>아직 작성한 일기가 없습니다.</p>>
{% endif %}

<a href="{% url 'diary:diary_write' %}">일기 쓰기</a>-->

{% endblock %}